* {margin:0;padding:0;}
ul, li {list-style:none;}
a {text-decoration:none;}

header {height:88px;padding:0 460px;background:#24292e;display:flex;align-items:center;justify-content:space-between;}
.logo img {width:30px;height:30px;}
nav > ul {width:950px;display:flex;justify-content:space-between;height:40px;align-items:center;}
nav li:last-child {height:40px;line-height:40px;}
nav li:nth-child(5) {margin-right:50px;}
nav li:last-child {border:1px solid #fff;border-radius:5px;width:70px;text-align:center;}
nav input[type="text"] {width:250px;height:35px;padding:0 10px;box-sizing:border-box;background:#3f4448;border-radius:5px;border:none;}
nav a {color:#fff;font-weight:normal;}


/*main.php*/
#main-intro {height:600px;padding:80px 460px;box-sizing:border-box;background:url(https://github.com/images/modules/site/heroes/simple-codelines.svg),#2b3137;background-position: center 10%;background-size: cover;display:flex;justify-content:space-between;}
#main-title {color:#fff;font-size:64px;line-height:60px;margin-bottom:20px;margin-top:100px;}
#main-des {color:hsla(0,0%,100%,.6);width:500px;font-size:21px;}
#main-des .link {font-weight:bold;color:#fff;border-bottom:1px solid rgba(100,100,100,.5);}
#main-des .link:hover {border-bottom:1px solid rgba(220,220,220,.5);}
#join-box {background:#fff;border-radius:5px;width:380px;height:350px;padding:24px;}
#join-box .name {margin-bottom:5px;font-size:13px;}
#join-box input {width:100%;height:45px;border-style:none;border-radius:5px;border:1px solid #ccc;padding-left:10px;box-sizing:border-box;margin-bottom:20px;}
#join-box input::placeholder {color:#aaa;font-size:15px;}
#join-box button {width:100%;height:70px;background:#2ebc4f;border:none;color:#fff;font-size:15px;border-radius:5px;}

/*join.php*/
#join-section {padding:30px 460px;background:linear-gradient(180deg,rgba(27,31,35,.065),rgba(27,31,35,0));}
#join-title {font-size:40px;font-weight:normal;}
#join-sub-title {font-size:20px;color:#aaa;font-weight:lighter;}
#join-des {margin-top:50px;font-weight:lighter;}
#join-form .name {font-size:15px;font-weight:bold;margin-top:20px;margin-bottom:5px;}
#join-form .name > span {color:red;}
#join-form input {width:466px;height:40px;border-radius:5px;border-style:none;border:1px solid #aaa;background:#fafbfc;box-shadow:1px 1px .5px inset #ddd;box-sizing:border-box;margin-bottom:10px;padding-left:10px;}
#join-form input:focus {background:#fff;outline:none;border:3px solid #b0cef1;}
#join-form .des {font-size:12px;width:466px;}
#join-form .captcha-title {font-size:25px;margin-top:30px;}
#join-form .captcha {margin-top:50px;width:400px;height:70px;}
#join-form .captcha > img {display:block;}
#join-form button {border-style:none;width:140px;height:35px;border-radius:5px;margin-top:50px;background:linear-gradient(to bottom, #33ce57, #29aa47);color:#fff;}
